     <div class="container">
      <table  border="1">
        <tr *ngFor="let user of users,  let i = index">
          <td>{{i+1}}</td>
          <td >{{ user.name }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td><img src="../../../assets/images/{{ user.image }}" style="width: 50px; height: 50px" alt=""></td>
          <td><img src="{{ user.image }}" *ngIf="show" style="width: 50px; height: 50px" alt=""></td>
        </tr>
      </table>
     </div>
