 <section class="contact-area section-gap" id="contact">-
  <div class="row d-flex justify-content-center">
    <div class="menu-content pb-60 col-lg-8">
      <div class="title text-center">
        <h1 class="mb-10"> If you need, Just drop us a line</h1>
        <p>Who are in extremely love with eco friendly syste</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3">  <h6 class="text-black">VISIT OUR OFFICE</h6></div>
      <div class="col-md-3"> <h6 class="text-black">LET’S CALL US</h6></div>
      <div class="col-md-3">  <h6 class="text-black">LET’S EMAIL US</h6></div>
      <div class="col-md-3"> <h6 class="text-black">CUSTOMER SUPPORT</h6></div>

    </div>
    <div class="row"  *ngFor="let item of contact">

      <div class="col-md-3">{{item.address}}</div>
      <div class="col-md-3">{{item.phone}}</div>
      <div class="col-md-3">{{item.email}}</div>
      <div class="col-md-3">{{item.customerSupport}}</div>
    </div>
<br>
    <form class="form-area mt-5" id="myForm" action="../../assets/mail.php" method="post" class="contact-form text-right">
      <div class="row">
        <div class="col-lg-6 form-group">
          <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">

          <input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

          <input name="subject" placeholder="Enter your subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" required="" type="text">
        </div>
        <div class="col-lg-6 form-group">
          <label>
            <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
          </label>
          <button class="primary-btn mt-20"> Send Message<span class="lnr lnr-arrow-right"></span></button>
          <div class="alert-msg">
          </div>
        </div></div>
    </form>
  </div>
  </section>

