<div class="container">
<form [formGroup]="serviceForm" class="ml-5">
  <div class="form-group input-group-lg">
  <input type="text" class="form-control"  formControlName="text1" #text1 [(ngModel)]="services.text1">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control"  formControlName="text2" #text2 [(ngModel)]="services.text2">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control"  formControlName="text3" #text3 [(ngModel)]="services.text3">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text4" #text4 [(ngModel)]="services.text4">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text5" #text5 [(ngModel)]="services.text5">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text6" #text6 [(ngModel)]="services.text6">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text7" #text7 [(ngModel)]="services.text7">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text8" #text8 [(ngModel)]="services.text8">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text9" #text9 [(ngModel)]="services.text9">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text10" #text10 [(ngModel)]="services.text10">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text11" #text11 [(ngModel)]="services.text11">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text12" #text12 [(ngModel)]="services.text12">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text13" #text13 [(ngModel)]="services.text13">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text14" #text14 [(ngModel)]="services.text14">
  </div>
  <div class="form-group">
  <button class="btn btn-primary btn-block btn-lg" (click)="updateService(text1.value,text2.value,text3.value,text4.value,text5.value,text6.value, text7.value,text8.value,text9.value,text10.value,text11.value,text12.value,text13.value,text14.value)">Update service</button>
  </div>
</form>
</div>












