
<div class="container">
  <form [formGroup]="formPrice">
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="Price" formControlName="price" #price>
    </div>
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="Service Name" formControlName="serviceName" #serviceName>
    </div>
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="Description Name" formControlName="description" #description>
    </div>
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="discount" formControlName="discount" #discount>
    </div>
    <div class="form-group">
      <button  (click)="submitForm(price.value,serviceName.value,description.value, discount.value);price.value = ''; serviceName.value = ''; discount.value= '';description.value ='' " class="btn btn-primary btn-block btn-lg">Create</button>
    </div>
  </form>
</div>
