<div class="container mt-3">
<form [formGroup]="contactForm">
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" name="name" formControlName="address" #address [(ngModel)]="contact.address">
  </div>
  <div class="form-group input-group-lg">
  <input type="text"  class="form-control" formControlName="phone" #phone [(ngModel)]="contact.phone">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="email" #email [(ngModel)]="contact.email">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="customerSupport" #customerSupport [(ngModel)]="contact.customerSupport">
  </div>
  <div class="form-group">
  <button class="btn btn-primary  btn-lg" (click)="updateContact(address.value,phone.value,email.value,customerSupport.value)">Update Contact Page</button>
  </div>
</form>
</div>
