<section class="banner-area" id="home">
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="menu-content pb-70 col-lg-8">
      <div class="title text-center">
        <h1 class="mb-10">{{servicesData.text1}}</h1>
        <p>{{servicesData.text2}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="single-service col-lg-6 col-md-6 d-flex flex-row mb-30">
      <div class="icon">
        <img src="../../assets/img/{{servicesData.image1}}" alt="">
      </div>
      <div class="dec">
        <h4><a href="">{{servicesData.text3}}</a></h4>
        <p class="mt-20">
          {{servicesData.text4}}
        </p>
      </div>
    </div>
    <div class="single-service col-lg-6 col-md-6 d-flex flex-row mb-30">
      <div class="icon">
        <img src="../../assets/img/{{servicesData.image2}}"  alt="">
      </div>
      <div class="dec">
        <h4><a href="#">{{servicesData.text5}}</a></h4>
        <p class="mt-20">
          {{servicesData.text6}}
        </p>
      </div>
    </div>
    <div class="single-service col-lg-6 col-md-6 d-flex flex-row">
      <div class="icon">
        <img src="../../assets/img/{{servicesData.image3}}" alt="">
      </div>
      <div class="dec">
        <h4><a href="#">{{servicesData.text7}}</a></h4>
        <p class="mt-20">
          {{servicesData.text8}}
        </p>
      </div>
    </div>
    <div class="single-service col-lg-6 col-md-6 d-flex flex-row">
      <div class="icon">
        <img src="../../assets/img/{{servicesData.image4}}" alt="">
      </div>
      <div class="dec">
        <h4><a href="#">{{servicesData.text9}}</a></h4>
        <p class="mt-20">
          {{servicesData.text10}}
        </p>
      </div>
    </div>
  </div>
</div>
<section class="gallery-area">
  <div class="container-fluid">
    <div class="row no-padding">
      <div class="active-gallery">
        <div class="item single-gallery">
          <div class="thumb">
            <img src="../../assets/img/{{imageServic.image1}}" alt="">
            <div class="align-items-center justify-content-center d-flex">
            <a href="">  <h4 class="text-white">{{imageServic.text1}}</h4></a>
            </div>
          </div>
        </div>
        <div class="item single-gallery">
          <div class="thumb">
            <img src="../../assets/img/{{imageServic.image2}}" alt="">
            <div class="align-items-center justify-content-center d-flex">
              <a href=""> <h4 class="text-white">{{imageServic.text2}}</h4></a>
            </div>
          </div>
        </div>
        <div class="item single-gallery">
          <div class="thumb">
            <img src="../../assets/img/{{imageServic.image3}}" alt="">
            <div class="align-items-center justify-content-center d-flex">
              <a href=""> <h4 class="text-white">{{imageServic.text3}}</h4></a>
            </div>
          </div>
        </div>
        <div class="item single-gallery">
          <div class="thumb">
            <img src="../../assets/img/{{imageServic.image4}}" alt="">
            <div class="align-items-center justify-content-center d-flex">
              <a href=""> <h4 class="text-white">{{imageServic.text4}}</h4></a>
            </div>
          </div>
        </div>
        <div class="item single-gallery">
          <div class="thumb">
            <img src="../../assets/img/{{imageServic.image5}}" alt="">
            <div class="align-items-center justify-content-center d-flex">
              <a href=""> <h4 class="text-white">{{imageServic.text5}}</h4></a>
            </div>
          </div>
        </div>
        <div class="item single-gallery">
          <div class="thumb">
            <img src="../../assets/img/{{imageServic.image6}}" alt="">
            <div class="align-items-center justify-content-center d-flex">
              <a href=""> <h4 class="text-white">{{imageServic.text6}}</h4></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- End gallery Area -->


<!-- Start feature Area -->
<section class="feature-area section-gap" id="feature">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">{{service2.text1}}</h1>
          <p>{{service2.text2}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature mb-30">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-user"></span>
            <h4><a href="#">{{service2.text3}}</a></h4>
          </div>
          <p>
            {{service2.text4}}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature mb-30">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-license"></span>
            <h4><a href="#">{{service2.text5}}</a></h4>
          </div>
          <p>
            {{service2.text6}}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature mb-30">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-phone"></span>
            <h4><a href="#">{{service2.text7}}</a></h4>
          </div>
          <p>
            {{service2.text8}}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-rocket"></span>
            <h4><a href="#">{{service2.text9}}</a></h4>
          </div>
          <p>
            {{service2.text10}}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-diamond"></span>
            <h4><a href="#">{{service2.text11}}</a></h4>
          </div>
          <p>
            {{service2.text12}}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="single-feature">
          <div class="title d-flex flex-row pb-20">
            <span class="lnr lnr-bubble"></span>
            <h4><a href="#">{{service2.text13}}</a></h4>
          </div>
          <p>
            {{service2.text14}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->


<!-- Start about Area-->
<section class="about-area">
  <div class="container-fluid">
    <div class="row no-padding justify-content-center d-flex align-items-center">
      <div class="col-lg-6 about-left">
        <h1>
         {{service3.text1}}
        </h1>
        <p class="mt-30">
          {{service3.text2}}
        </p>
        <button class="primary-btn mt-20 text-uppercase">See Details<span class="lnr lnr-arrow-right"></span></button>
      </div>
      <div class="col-lg-6 about-right no-padding">
        <a [href]="service3.video" class="play-btn"><img class="play" src="../../assets/img/{{service3.image}}" alt=""></a>
        <img class="main img-fluid" src="../../assets/img/about-img.jpg" alt="">
      </div>
    </div>
  </div>
</section>
</section>
