<div class="container">
<form [formGroup]="serviceForm" class="ml-5">
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text1" #text1 [(ngModel)]="services.text1">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text2" #text2 [(ngModel)]="services.text2">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text3" #text3 [(ngModel)]="services.text3">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text4" #text4 [(ngModel)]="services.text4">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text5" #text5 [(ngModel)]="services.text5">
  </div>
  <div class="form-group input-group-lg">
  <input type="text" class="form-control" formControlName="text6" #text6 [(ngModel)]="services.text6">
  </div>
  <div class="form-group">
  <button class="btn btn-primary btn-block btn-lg" (click)="updateService(text1.value,text2.value,text3.value,text4.value,text5.value,text6.value)">Update service</button>
  </div>
</form>
</div>
