<!-- HEADER -->
<header class="block container-fluid">
  <div class="row">
    <div class="col-md-1">
      <div class="profile-menu">
        <div class="profile-picture small-profile-picture mt-3">
          <img width="50px" alt="Anne Hathaway picture" src="../../../assets/images/{{getAdmin.image}}">
        </div>
      </div>
    </div>
    <div class="col-md-8"></div>
<!--    <div class="col-md-2">-->
<!--    <ul class="header-menu horizontal-list">-->
<!--      <li>-->
<!--        <a (click)="myAccount()" class="text-white text-center account">My Account </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
    <div class="col-md-2">
    <ul class="header-menu horizontal-list">
      <li> <a (click)="myAccount()" class="text-white text-center account">My Account </a></li>
       <li> <a class="btn btn-success logout" (click)="logout()"> Logout</a></li>
    </ul>
  </div>
  </div>
</header>
