<section class="price-area section-gap" id="price">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Choose the Perfect Plan for you</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"  *ngFor="let item of price">
        <div class="single-price">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>{{item.serviceName}}</h4>
            </div>
            <div class="top-right">
              <h1>{{item.price}}</h1>
            </div>
          </div>
          <div class="bottom-sec">
            <p>
{{item.description}}
            </p>
          </div>
          <div class="end-sec">
            {{item.discount}}
            <button class="primary-btn price-btn mt-20">Purchase Plan<span class="lnr lnr-arrow-right"></span></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
