<div class="container">
  <table class="text-center" border="1">
  <tr>
    <td >{{ homedata.textInfo }}</td>
  </tr>
  <tr>
    <td >{{ homedata.textInfo1}}</td>
  </tr>
  <tr>
    <td >{{ homedata.buttonText }}</td>
  </tr>
  <tr>
    <td ><img src="../../../assets/images/{{ homedata.image }}" style="width: 100px; height: 100px" alt=""></td>
  </tr>
  <tr>
    <td> {{homedata.aboutSalon}}</td>
  </tr>

<!--  <tr>-->
<!--    <td ><img src="../../../assets/images/{{ homedata.image1 }}" style="width: 100px; height: 100px" alt=""></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td ><img src="../../../assets/images/{{ homedata.image2}}" style="width: 100px; height: 100px" alt=""></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td ><img src="../../../assets/images/{{ homedata.image3}}" style="width: 100px; height: 100px" alt=""></td>-->
<!--  </tr>-->
</table>
  <div class="form-group">
    <a [routerLink]="['/editehome/', homedata.id]" skipLocationChange class="btn btn-primary btn-block btn-lg">Edit</a>
    <a (click)="deleteHomepage(homedata.id)" class="btn btn-danger btn-block btn-lg">Delete</a>
  </div>
</div>

