<div class="container">
<table  class="container text-center"  border="1">
  <tr *ngFor="let item of serviceData">
    <td ><img style="width: 200px; height: 200px" src="../../../assets/images/{{item.image}}" alt=""></td>
   <td> {{ item.description}}</td>
 <td><a class="btn btn-primary btn-lg" [routerLink]="['/editeservice1/', item.id]" skipLocationChange >Edit Service</a></td>
  <td> <a  class="btn btn-danger btn-lg" (click)='deleteService(item.id)'>Delete Service</a></td>
  </tr>
</table>
</div>


