<section class="banner-area" id="home" >
<div class="container">
  <form class="contact" [formGroup] = "changePasswordForm">
    <div class="form-group input-group-lg">
      <input  class="form-control" type="password" placeholder="Enter your old password" required formControlName="oldpassword" #oldpassword>
    </div>
    <span style="color: red">{{oldPerr}}</span>
    <div class="form-group input-group-lg">
      <input  class="form-control" type="password" placeholder="Enter your new password" required formControlName="newpassword" #newpassword>
    </div>
    <div class="form-group input-group-lg">
      <input  class="form-control" type="password" placeholder="Enter your confirmpassword" required formControlName="confirmpassword" #confirmpassword>
    </div>
    <div class="form-group">
      <button name="submit" type="submit" class="contact-submit" data-submit="...Sending" (click)="changePassword(oldpassword.value,newpassword.value,confirmpassword.value);oldpassword.value ;confirmpassword.value= '';newpassword.value ='' ">Change password</button>
    </div>
    <span style="color: red">{{errMessage}}</span>
    <span style="color: green">{{message}}</span>
  </form>
</div>
</section>

