<div class="container">
  <table border="1">
  <tr>
    <td >{{ serviceData.text1}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text2}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text3}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text4}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text5}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text6}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text7}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text8}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text9}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text10}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text11}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text12}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text13}}</td>
  </tr>
  <tr>
    <td >{{ serviceData.text14}}</td>
  </tr>

</table>
  <div class="form-group">
    <a class="btn btn-primary btn-block btn-lg " [routerLink]="['/editeservice2']" skipLocationChange >Edit Service</a>
    <a  class="btn btn-danger btn-block btn-lg" (click)='deleteService(serviceData.id)'>Delete Service</a>
  </div>
</div>

