<section class="banner-area" id="home">
<div class="container">
  <form class="contact" [formGroup]="forgotPasswordForm" *ngIf="show">
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required formControlName="email" #email>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" class="contact-submit" data-submit="...Sending" (click)="sendEmail(email.value);email.value = ''">Submit</button>
      <span style="color:red">{{message}}</span>
    </fieldset>
  </form>

<!--  <form class="contact" [formGroup] = "forgotPasswordForm" *ngIf="!show && show1">-->

<!--    <fieldset>-->
<!--      <button name="submit" type="submit" class="contact-submit" data-submit="...Sending" (click)="sendCode(code.value); code.value ='' ">Send code</button>-->
<!--    </fieldset>-->
<!--  </form>-->

  <form class="contact" [formGroup] = "forgotPasswordForm" *ngIf="!show">
    <fieldset>
      <input type="text" placeholder="Enter code" required formControlName="code" #code>
    </fieldset>
    <span style="color: red">{{msgCode}}</span>
<fieldset>
  <input type="password" placeholder="Enter your new password" required formControlName="password" #password>
</fieldset>
    <fieldset>
  <input type="password" placeholder="Enter confirm password" required formControlName="confpassword" #confpassword>
</fieldset>
    <fieldset>
      <button name="submit" type="submit" class="contact-submit" data-submit="...Sending" (click)="sendPassword(code.value,password.value,confpassword.value); password.value ='' ">Send new password</button>
    </fieldset>
   <span style="color: green">{{msg}}</span>
   <span style="color: red">{{msgEqual}}</span>
  </form>



</div>
</section>
